<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>NOTE</title>
</head>
<body>
   {{> header}}
    
    <hr>


    <div id="main">
        <div id="leftmain">
            <span id="leftbrand">
                i NOTE
            </span>
            <span id="lefttext">
                Revolutionary Note taking App
            </span>


        </div>
        <div id="rightmain">
            <img src="img/logo-iNote.png" alt="INote">
        </div>
    </div>
    {{> footer}}
</body>
</html>